{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %} {% block content %}

<div class="flex items-center justify-center w-full h-screen">
  <div class="flex flex-col items-center gap-6">
    <h1 class="text-6xl font-bold text-white">Login</h1>
    <form
      action=""
      method="POST"
      class="flex flex-col items-center gap-4 p-6 bg-white shadow-2xl rounded-2xl"
    >
      {% csrf_token %}
      <div class="flex flex-col w-full">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          name="username"
          placeholder="John Doe"
          class="w-full rounded-lg"
          required
        />
      </div>
      <div class="flex flex-col w-full">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          class="w-full rounded-lg"
          required
        />
      </div>
      <button
        class="w-full py-2 text-lg font-bold text-white bg-orange-600 rounded-lg hover:bg-orange-800"
      >
        Login
      </button>
      {% if messages %} {% for message in messages %}
      <span class="font-bold text-red-600">{{ message }}</span>
      {% endfor %} {% endif %}
      <span class="flex flex-col items-center w-full">
        Don't have an account?
        <a
          href="{% url 'todolist:register_todolist' %}"
          class="text-blue-600 hover:text-blue-800"
          >Create Account</a
        >
      </span>
    </form>
  </div>
</div>

{% endblock content %}
