{% extends 'base.html' %} {% block meta %}
<title>Account Registration</title>
{% endblock meta %} {% block content %}

<div class="flex items-center justify-center w-full h-screen">
  <div class="flex flex-col items-center w-1/4 gap-6">
    <h1 class="text-6xl font-bold text-white">Registration</h1>
    <form
      action=""
      method="POST"
      class="flex flex-col items-center w-full gap-4 p-6 bg-white shadow-2xl rounded-2xl"
    >
      {% csrf_token %}
      <div class="flex flex-col w-full">
        <label for="id_username">Username</label>
        {{form.username}} {% if form.username.errors %}
        <span class="font-bold text-red-600">{{ form.username.errors }}</span>
        {% endif %}
      </div>
      <div class="flex flex-col w-full">
        <label for="id_password1">Password</label>
        {{form.password1}} {% if form.password1.errors %}
        <span class="font-bold text-red-600">{{ form.password1.errors }}</span>
        {% endif %}
      </div>
      <div class="flex flex-col w-full">
        <label for="id_password2">Password Confirmation</label>
        {{form.password2}} {% if form.password2.errors %}
        <span class="font-bold text-red-600">{{ form.password2.errors }}</span>
        {% endif %}
      </div>
      <button
        class="w-full py-2 text-lg font-bold text-white bg-orange-600 rounded-lg hover:bg-orange-800"
      >
        Submit
      </button>
    </form>
  </div>
</div>

{% endblock content %}
