<form
    method="POST"
    class="flex flex-col items-center w-1/4 gap-4 p-6 bg-white shadow-2xl rounded-2xl"
    id="create-task"
    >
    {% csrf_token %}
    <h1 class="text-3xl font-bold">Create Task</h1>
    <div class="flex flex-col w-full">
        <label for="id_title">Title</label>
        {{form.title}} {% if form.title.errors %}
        <span class="font-bold text-red-600">{{ form.title.errors }}</span>
        {% endif %}
    </div>
    <div class="flex flex-col w-full">
        <label for="id_description">Description</label>
        {{form.description}} {% if form.description.errors %}
        <span class="font-bold text-red-600">{{ form.description.errors }}</span>
        {% endif %}
    </div>
    <div class="flex w-full gap-4">
        <button type="button" id="close-button" class="w-1/2 py-2 text-lg font-bold text-white rounded-lg bg-slate-600 hover:bg-slate-800">
            Cancel
        </button>
        
        <button class="w-1/2 py-2 text-lg font-bold text-white bg-orange-600 rounded-lg hover:bg-orange-800">
            Submit
        </button>
    </div>
</form>