{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% tailwind_css %} {% block meta %} {% endblock meta %}
  </head>

  <body class="relative bg-blue-400">
    {% if user.is_authenticated %}
    <nav class="fixed flex items-center justify-between w-full px-6 py-2 bg-white">
      <a
        href="/"
        class="px-4 py-2 font-bold text-white bg-orange-600 rounded-full"
      >
        {{ user.get_username | capfirst }}'s To Do List
      </a>

      <div class="flex gap-2">
        {% if not request.path == "/todolist/task" %}
        <a
          href="{% url 'todolist:create_todolist' %}"
          class="px-4 py-2 font-bold text-white bg-orange-600 rounded-xl hover:bg-orange-800"
          >Add Task</a
        >{% endif %}
        <a
          href="{% url 'todolist:logout_todolist' %}"
          class="px-4 py-2 font-bold text-white bg-red-600 rounded-xl hover:bg-red-800"
          >Logout</a
        >
      </div>
    </nav>
    {% endif %} {% block content %} {% endblock content %}
  </body>
</html>
